/* Common styles for all screen sizes */

footer {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
  }
  #left-footer{
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    display:grid;
    justify-content:space-evenly ;
    align-items:flex-start;
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .social-links a {
    margin:auto ;
  }
  

/* Styles for screens bigger than 1280px */
@media (min-width: 1280px) {
    /* Header styles */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.logo .brand-icon {
    /* Add styles for the brand icon */
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('');
    background-size: cover;
    margin-right: 5px;
}
#osf{
    color: darkblue;
    font-size: large;
}
#academy{
    color:olivedrab;
    font-size: small;
}

.navigation {
    list-style:circle;
    margin: 0;
    padding: 0;
}

.navigation li {
    display: inline-block;
    margin-right: 10px;
}

.navigation li a {
    text-decoration: none;
    color: #000;
}

.dropdown-menu {
    display: none;
    position: absolute;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.user-icons {
    display: flex;
    align-items: center;
}

.user-icons a {
    text-decoration: none;
    color: #000;
    margin-right: 10px;
}

.login-icon:before {
    /* Add your login icon styles using font icons */
}

.wishlist-icon:before {
    /* Add your wishlist icon styles using font icons */
}
.wishlist-count {
    /* Add styles for the wishlist count */
}

.mini-cart-icon:before {
    /* Add your mini-cart icon styles using font icons */
}

.cart-count {
    /* Add styles for the cart count */
}

/* Login Pop-up styles */
.login-popup {
    /* Add styles for the login pop-up */
}
  }
  
  /* Styles for screens between 768px and 1280px */
  @media (min-width: 768px) and (max-width: 1279px) {
    
  }
  
  /* Styles for screens between 320px and 768px */
  @media (max-width: 767px) {
    
  }